#define HSE_FREQUENCY {{.Target.HseFreq}}
#define LSE_FREQUENCY {{.Target.LseFreq}}
#define PLL_SOURCE    PLL_SOURCE_{{.Target.PllSource}}

#define PLL_REQUIRED_FREQUENCY {{.Target.RequireFreq}}
#define PLL_SOURCE_FREQUENCY   {{.Target.SrcFreq}}

#define PLL_DIV_FACTOR_M {{.Target.DivFactors.M}}
#define PLL_DIV_FACTOR_N {{.Target.DivFactors.N}}
#define PLL_DIV_FACTOR_P {{.Target.DivFactors.P}}
