#define HSE_FREQUENCY {{.PllSrc.HseFreq}}
#define LSE_FREQUENCY {{.PllSrc.LseFreq}}
#define PLL_SOURCE    PLL_SOURCE_{{.PllSrc.PllSource}}

#define PLL_REQUIRED_FREQUENCY {{.PllSrc.RequireFreq}}
#define PLL_SOURCE_FREQUENCY   {{.PllSrc.SrcFreq}}

#define PLL_DIV_FACTOR_M {{.PllSrc.DivFactors.M}}
#define PLL_DIV_FACTOR_N {{.PllSrc.DivFactors.N}}
#define PLL_DIV_FACTOR_P {{.PllSrc.DivFactors.P}}
